<div class="about" id="about">
  <div class="about__container container">
    <div class="about__image" data-aos="fade-up" data-aos-duration="1000">
      <img src="img/ceo-portret.jpg" width="300" height="420" alt="Портрет генерального директора">
    </div>
    <div class="about__info">
      <blockquote class="about__quote quote">
        <div class="quote__content">
          <p>К&nbsp;нам обращаются чтобы заказать проект <span>&laquo;под ключ&raquo;</span>, не&nbsp;переплачивая
            нескольким
            подрядчикам.
            Мы&nbsp; <span>изготовим</span> и&nbsp; <span>установим</span>: металлоконструкции, новые ворота
            и&nbsp;ограждения, заменим витражные
            конструкции, зенитный фонарь, сделаем кровлю, фасад, внутреннюю отделку.</p>
          <p>Работаем с&nbsp;коммерческими и&nbsp;частными зданиями по&nbsp;<span>Москве</span> и&nbsp;<span>Московской
              области</span> .
          </p>
          <p>Больше всего <span>преуспели</span> в&nbsp;изготовлении металлоконструкций и&nbsp;фасадных работах.
            Посмотрите наши
            проекты в&nbsp; <a href="#project" class="main-link">галерее</a>. Закончено более 20&nbsp;подобных проектов.</p>
        </div>
        <footer class="quote__footer">
          <span class="quote__author"> Сарамотин Сергей Анатольевич</span>
          Генеральный директор ООО “РПСК”
        </footer>
      </blockquote>
    </div>
  </div>
</div>
