<footer class="footer">
  <div class="footer__container container">
    <div class="footer__content">
      <a href="#" class="footer__logo logo">
        <span>РПСК</span>
      </a>
      <p class="footer__text">
        Мы с гордостью предлагаем вам качественное строительство. Наша миссия - устанавливать самые
        высокие стандарты в строительной сфере.
      </p>
    </div>
    <ul class="footer__nav footer-nav list-reset">
      <li class="footer-nav__item"><a href="#about" class="footer-nav__link">О компании</a></li>
      <li class="footer-nav__item"><a href="#service" class="footer-nav__link">Услуги</a></li>
      <li class="footer-nav__item"><a href="#project" class="footer-nav__link">Проекты</a></li>
      <li class="footer-nav__item"><a href="#contact" class="footer-nav__link">Контакты</a></li>
    </ul>
    <ul class="main-info__links list-reset">
      <li class="main-info__item">
        <a href="data/doc/rpsk.pdf" class="main-info__link" target="blank">
          <svg>
            <use xlink:href="img/sprite.svg#files"></use>
          </svg>
          Наши реквизиты</a>
      </li>
      <li class="main-info__item">
        <a href="data/doc/contract.pdf" class="main-info__link" target="blank">
          <svg>
            <use xlink:href="img/sprite.svg#files"></use>
          </svg>Шаблон договора </a>
      </li>
    </ul>
    <div class="footer__contacts footer-contacts">
      <a href="tel:79100006676" class="footer-contacts__link contacts-link contacts-link--call">
        <span class="contacts-link__caption">Позвонить</span>
        <span class="contacts-link__value">+7(910) 000-66-76</span>
      </a>
      <a href="mailto:hello-rpsk@yandex.ru" class="footer-contacts__link contacts-link contacts-link--mail"
        target="_blank">
        <span class="contacts-link__caption">Написать</span>
        <span class="contacts-link__value">hello-rpsk@yandex.ru</span>
      </a>
    </div>
  </div>
  <div class="footer__copyright footer-copyright container">
    <p class="footer-copyright__message">
      Информация, размещенная на сайте, носит ознакомительный характер и ни при каких условиях не является публичной
      офертой, определяемой положениями Статьи 437 ГК РФ
    </p>
    <div class="footer-copyright__content">
      <span>© 2023 ООО «РПСК». Все права защищены.</span>
    </div>
  </div>
  <a href="https://t.me/tasha_sk666" class="author" target="blank">
    Сделано с<span class="author__icon"></span>Tasha Sk
  </a>
</footer>
