<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#ffffff">
  <title>РПСК</title>
  <link rel="preload" href="fonts/UbuntuRegular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/UbuntuMedium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/UbuntuBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <meta name="description" content="Мы региональная проектно-строительная компания. Изготовим и установим: металлоконструкции, новые ворота и ограждения, витражные конструкции, сделаем кровлю, фасад или внутреннюю отделк в Москве и области."/>
  <meta name="keywords" content="строительная компания, строительная компания сайт, металлоконструкции, ремонт фасада, фасадная отделка, под ключ, кровельные работы, капитальный ремонт">
  <meta property="og:type" content="website">
  <meta property="og:title" content="ООО “РПСК”">
  <meta property="og:description" content=" Наш опыт строительства подкреплен страстью к идеальному обслуживанию клиентов, качеству и инновациям в строительной отрасли.">
  <script defer src="js/main.js"></script>
</head>
