<div class="hero" data-aos="fade" data-aos-duration="2000">
  <div class="hero-slider">
    <button class="btn-reset slider-nav__btn hero__prev">
      <svg>
        <use xlink:href="img/sprite.svg#slider-left-long"></use>
      </svg>
    </button>
    <button class="btn-reset slider-nav__btn hero__next">
      <svg>
        <use xlink:href="img/sprite.svg#slider-right-long"></use>
      </svg>
    </button>
    <div class="swiper hero-items">
      <div class="swiper-wrapper">
        <div class="swiper-slide hero-item hero-item--bg-1">
          <div class="container hero-item__container">
            <div class="hero-item__content">
              <h1 class="main-title">Проектно-строительная компания</h1>
              <ul class="main-list list-reset">
                <li class="main-list__item main-descr"> <span>Наше направление:</span> металлоконструкции, витражи,
                  фасадные работы, внутренняя отделка, кап.ремонт</li>
                <li class="main-list__item main-descr">Сотрудничаем с <span>организациями, ИП, физ.лицами</span></li>
                <li class="main-list__item main-descr">Работаем по <span>Москве</span> и <span>Московской
                    области</span></li>
              </ul>
              <div class="hero__btns">
                <a href="#service" class="hero__btn btn btn--stroke btn--stroke-dark">услуги</a>
                <a href="#contact" class="hero__btn btn btn--fill">оставить заявку</a>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide hero-item hero-item--bg-2">
          <div class="container hero-item__container hero-item__container--bg">
            <div class="hero-item__content">
              <h1 class="main-title">Мы не построим
                вам избушку!</h1>
              <p class="main-descr">
                Но сможем ее преобразить! Комплексный подход и внимание к Вашим пожеланиям помогают успешно справиться с
                непростыми задачами.
                <br>
                Мы всегда <span>работаем на результат</span> .
              </p>
              <div class="hero__btns">
                <a href="#project" class="hero__btn btn btn--stroke btn--stroke-dark">перейти в проекты</a>
                <a href="#contact" class="hero__btn btn btn--fill">оставить заявку</a>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide hero-item hero-item--bg-3">
          <div class="container hero-item__container">
            <div class="hero-item__content">
              <h1 class="main-title">Реализуем проект для вас
                и вашей компании</h1>
              <p class="main-descr"> Наш опыт строительства подкреплен страстью к идеальному обслуживанию клиентов,
                качеству и инновациям
                в строительной отрасли.</p>

              <div class="hero__btns">
                <a href="#service" class="hero__btn btn btn--stroke btn--stroke-dark">услуги</a>
                <a href="#contact" class="hero__btn btn btn--fill">оставить заявку</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="swiper-pagination hero__pagination"></div>
  </div>
</div>
