<div class="partners">
  <div class="partners__container container">
    <h2 class="partners__title title">Нам доверяют</h2>
    <div class="partners__list">
      <div class="partners__item">
        <img src="img/client-logo/client-crocus.png" alt="Логтип АО Крокус">
      </div>
      <div class="partners__item">
        <img src="img/client-logo/client-phoenix.png" alt="Логотип ООО Феникс Констракшн">
      </div>
      <div class="partners__item">
        <img src="img/client-logo/client-viner.png" alt="Логотип Двореца Гимнастики">
      </div>
      <div class="partners__item">
        <img src="img/client-logo/client-patriot.png" alt="Логотип парка Патриот">
      </div>
      <div class="partners__item">
        <img src="img/client-logo/client-geoxi.png" alt="Логотип ГЕОХИ">
      </div>
      <div class="partners__item">
        <img src="img/client-logo/client-coffee.png" alt="Логотип Кофемании">
      </div>
    </div>
  </div>
</div>
