<div class="project" id="project">
  <div class="project__container container">
    <div class="project__top-container">
      <h2 class="project__title title">Посмотрите проекты и узнайте больше о нашей работе</h2>
      <div class="project__nav slider-nav">
        <button class="slider-nav__btn slider-btn project__prev btn-reset">
          <svg>
            <use xlink:href="img/sprite.svg#slider-left-long"></use>
          </svg>
        </button>
        <button class="slider-nav__btn slider-btn project__next btn-reset">
          <svg>
            <use xlink:href="img/sprite.svg#slider-right-long"></use>
          </svg>
        </button>
      </div>
      <div class="swiper-pagination project__pagination"></div>
    </div>
    <div class="project__items swiper">
      <div class="swiper-wrapper">
      </div>
    </div>
  </div>
</div>
