<div class="service" id="service">
  <div class="service__container container">
    <div class="service__top">
      <h2 class="service__title title">Наши услуги</h2>
      <p class="service__descr descr">Выполняем комплекс работ “под ключ”, начиная с согласования и подбора материала,
        заканчивая сдачей объекта в эксплуатацию.</p>
    </div>
    <div class="service__content grid">
      <div class="swiper service__nav service-nav">
        <ul class="swiper-wrapper service-nav__list list-reset">
          <li class="swiper-slide service-nav__item">
            <button class="btn-reset service-nav__btn">Металлоконструкции</button>
          </li>
          <li class="swiper-slide service-nav__item">
            <button class="btn-reset service-nav__btn">Фасадные работы</button>
          </li>
          <li class="swiper-slide service-nav__item">
            <button class="btn-reset service-nav__btn">Внутренняя отделка</button>
          </li>
          <li class="swiper-slide service-nav__item">
            <button class="btn-reset service-nav__btn">Витражи</button>
          </li>
          <li class="swiper-slide service-nav__item">
            <button class="btn-reset service-nav__btn">Кровельные работы</button>
          </li>
        </ul>
        <div class="scrollbar swiper-scrollbar service-nav__scrollbar"></div>
      </div>
      <div class="service__item swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="service-item">
              <h3 class="service-item__title">Металлоконструкции:
              </h3>
              <p class="service-item__descr">Любое здание со временем требует ухода для поддержания внешнего вида,
                микроклимата. Мы можем предложить вам косметический или капитальный ремонт фасада, в зависимости от
                ваших пожеланий.
              </p>
              <ul class="list-reset service-item__list">
                <li class="service-item__text">Обследование фасадов для определения участков, подлежащих ремонту;
                </li>
                <li class="service-item__text">Очистка старой краски и штукатурки;</li>
                <li class="service-item__text">Грунтовка, покраска, облицовка фасада;</li>
                <li class="service-item__text">Оштукатурим и утеплим фасад;</li>
              </ul>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="service-item">
              <h3 class="service-item__title">Основные виды фасадных работ:
              </h3>
              <p class="service-item__descr">Любое здание со временем требует ухода для поддержания внешнего вида,
                микроклимата. Мы можем предложить вам косметический или капитальный ремонт фасада, в зависимости от
                ваших пожеланий.
              </p>
              <ul class="list-reset service-item__list">
                <li class="service-item__text">Обследование фасадов для определения участков, подлежащих ремонту;</li>
                <li class="service-item__text">Очистка старой краски и штукатурки;</li>
                <li class="service-item__text">Грунтовка, покраска, облицовка фасада;</li>
                <li class="service-item__text">Оштукатурим и утеплим фасад;</li>
              </ul>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="service-item">
              <h3 class="service-item__title">Основные виды внутренних работ:
              </h3>
              <p class="service-item__descr">Любое здание со временем требует ухода для поддержания внешнего вида,
                микроклимата. Мы можем предложить вам косметический или капитальный ремонт фасада, в зависимости от
                ваших пожеланий.
              </p>
              <ul class="list-reset service-item__list">
                <li class="service-item__text">Обследование фасадов для определения участков, подлежащих ремонту;</li>
                <li class="service-item__text">Очистка старой краски и штукатурки;</li>
                <li class="service-item__text">Грунтовка, покраска, облицовка фасада;</li>
                <li class="service-item__text">Оштукатурим и утеплим фасад;</li>
              </ul>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="service-item">
              <h3 class="service-item__title">Основные виды витражных работ:
              </h3>
              <p class="service-item__descr">Любое здание со временем требует ухода для поддержания внешнего вида,
                микроклимата. Мы можем предложить вам косметический или капитальный ремонт фасада, в зависимости от
                ваших пожеланий.
              </p>
              <ul class="list-reset service-item__list">
                <li class="service-item__text">Обследование фасадов для определения участков, подлежащих ремонту;</li>
                <li class="service-item__text">Очистка старой краски и штукатурки;</li>
                <li class="service-item__text">Грунтовка, покраска, облицовка фасада;</li>
                <li class="service-item__text">Оштукатурим и утеплим фасад;</li>
              </ul>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="service-item">
              <h3 class="service-item__title">Основные виды кровельных работ:
              </h3>
              <p class="service-item__descr">Любое здание со временем требует ухода для поддержания внешнего вида,
                микроклимата. Мы можем предложить вам косметический или капитальный ремонт фасада, в зависимости от
                ваших пожеланий.
              </p>
              <ul class="list-reset service-item__list">
                <li class="service-item__text">Обследование фасадов для определения участков, подлежащих ремонту;</li>
                <li class="service-item__text">Очистка старой краски и штукатурки;</li>
                <li class="service-item__text">Грунтовка, покраска, облицовка фасада;</li>
                <li class="service-item__text">Оштукатурим и утеплим фасад;</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
