html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  font-weight: 400;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--grid-gap);

  @include mobile {
    grid-template-columns: repeat(4, 1fr);
  }
}

.js-focus-visible-visible :focus-visible:not(.focus-visible-visible) {
  outline: none;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.btn {
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  padding: 16px 40px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;

  &--fill {
    border-color: var(--accent-color);
    color: var(--white-color);
    background-color: var(--accent-color);

    @include for-desktop {
      &:hover {
        border-color: var(--accent-dark-color);
        color: var(--white-color);
        background-color: var(--accent-dark-color);
      }
    }

    &:focus-visible {
      outline: 2px solid var(--accent-dark-color);
      outline-offset: 2px;
    }

    &:active {
      border-color: var(--gray-color);
      color: var(--white-color);
      background-color: var(--gray-color);
    }
  }

  &--stroke {
    &-dark {
      border-color: var(--dark-color);
      color: var(--dark-color);
    }

    &-accent {
      border-color: var(--accent-color);
      color: var(--accent-color);
    }

    @include for-desktop {
      &:hover {
        border-color: var(--accent-color);
        color: var(--white-color);
        background-color: var(--accent-color);
      }
    }

    &:focus-visible {
      outline: 2px solid var(--accent-color);
      outline-offset: 2px;
    }

    &:active {
      border-color: var(--accent-dark-color);
      color: var(--white-color);
      background-color: var(--accent-dark-color);
    }
  }

  @include small-tablet {
    font-size: 14px;
  }
}

.logo {
  color: var(--gray-color);

  span {
    font-weight: 700;
    font-size: 36px;
    color: inherit;
  }
}

.main-title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 64px;
  line-height: 130%;
  letter-spacing: 1px;
  color: var(--dark-color);

  @include tablet {
    font-size: 47px;
  }

  @include mobile {
    font-size: 28px;
  }
}

.main-list {
  list-style-position: inside;
  max-width: 550px;

  &__item {
    position: relative;
    padding-left: 30px;

    &::before {
      @include bg-cover;

      content: "";
      position: absolute;
      left: 0;
      top: 11%;
      width: 24px;
      height: 24px;
      background-image: url('../img/small-icon/black-list-check.png');
    }

    @include mobile {
      padding-left: 22px;

      &::before {
        width: 16px;
        height: 16px;
      }
    }
  }
}

.main-descr {
  margin: 0;
  font-size: 20px;
  line-height: 180%;
  color: var(--dark-color);

  span {
    font-weight: 700;
  }

  @include tablet {
    font-size: 18px;
  }

  @include mobile {
    font-size: 14px;
  }
}

.main-link {
  text-decoration: underline solid var(--accent-color);
  color: var(--accent-color);
  transition: color 0.3s ease-in-out, text-decoration-color 0.3s ease-in-out;
  text-underline-offset: 2px;

  @include for-desktop {
    &:hover {
      text-decoration-color: var(--accent-dark-color);
      color: var(--accent-dark-color);
    }
  }

  &:focus-visible {
    outline: 2px solid var(--accent-color);
    outline-offset: 2px;
  }

  &:active {
    text-decoration-color: var(--accent-dark-color);
    color: var(--accent-dark-color);
  }
}

.main-info {
  &__item {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__link {
    @include flex-v-center;

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--white-color);
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;

    svg {
      display: block;
      margin-right: 10px;
      width: 24px;
      height: 24px;
      fill: var(--white-color);
      transition: fill 0.3s ease-in-out;
    }

    @include for-desktop {
      &:hover {
        opacity: 1;
      }
    }

    &:focus-visible {
      outline: 2px solid var(--accent-color);
      outline-offset: 2px;
    }

    &:active {
      color: var(--accent-color);
      opacity: 1;

      svg {
        fill: var(--accent-color);
      }
    }
  }
}

.title {
  margin: 0;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  color: var(--dark-color);

  @include tablet {
    font-size: 35px;
  }

  @include mobile {
    font-size: 32px;
  }
}

.descr {
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--graylt-color);

  @include mobile {
    font-size: 16px;
  }
}

.contacts-link {
  @include flex-v-center;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 28px;
  background-position: left center;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  transition: opacity 0.3s ease-in-out;

  &__caption {
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    color: var(--gray-color);
    transition: color 0.3s ease-in-out;
  }

  &__value {
    font-size: 18px;
    color: var(--dark-color);
    transition: color 0.3s ease-in-out;
  }

  &--call {
    background-image: url('../img/icon-phone.svg');
  }

  &--mail {
    background-image: url('../img/icon-mailto.svg');
  }

  @include for-desktop {
    &:hover {
      .contacts-link__caption,
      .contacts-link__value {
        color: var(--accent-color);
      }
    }
  }

  &:focus-visible {
    outline: 2px solid var(--accent-color);
    outline-offset: 2px;
  }

  &:active {
    .contacts-link__caption,
    .contacts-link__value {
      color: var(--accent-dark-color);
    }
  }

  @include tablet {
    background-size: 30px 30px;
  }
}

.scrollbar {
  height: 3px !important;

  .swiper-scrollbar-drag {
    background: var(--accent-color);
  }
}

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 49;
  background-color: #00000099;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

  &--active {
    opacity: 1;
    visibility: visible;
  }
}
